# If-Else

In [10]:
marks = int(input("Enter marks: "))
if marks >= 90 and marks <= 100:
    print("range in between 90-100.")
elif marks >= 50 and marks < 90:
    print("range in between 50-90")
elif marks >= 35 and marks < 50:
    print("range in between 35-50")
elif marks >= 0 and marks < 35:
    print("Fail")
else:
    print("enter proper marks")

Enter marks:  50

range in between 50-90

In [4]:
95 > 90 and 65 < 100

True

Coupne code

In [ ]:
coupne_code = input()
if coupne_code == "NEW100":
    print("You get discount of 100$")
elif coupne_code == "NEW50":
    print("You get discount of 100$")
else:
    print("Please enter proper coupne code")

# Range Function

In [12]:
range(1,11)

range(1, 11)

In [13]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [16]:
l = list(range(1,10,2))

# For loop

In [17]:
for num in l:
    print(num)

1
3
5
7
9

In [18]:
for num in l:
    print(num + 100)

101
103
105
107
109

In [19]:
for i in range(5):
    print(i)

0
1
2
3
4

In [20]:
for i in "NewYear":
    print(i)

N
e
w
Y
e
a
r

In [22]:
for i in "NewYear":
    print("Data")

Data
Data
Data
Data
Data
Data
Data

In [23]:
l = [10,20,30.333,True,10+7j,"New"]

In [24]:
for i in l:
    print(i)

10
20
30.333
True
(10+7j)
New

In [27]:
for i in l:
    print(type(i))

<class 'int'>
<class 'int'>
<class 'float'>
<class 'bool'>
<class 'complex'>
<class 'str'>

In [29]:
for i in l:
    print(i ,"    ",type(i))

10      <class 'int'>
20      <class 'int'>
30.333      <class 'float'>
True      <class 'bool'>
(10+7j)      <class 'complex'>
New      <class 'str'>

In [30]:
for i in l:
    if type(i) == float:
        print(i)

30.333

In [31]:
k = [(10,11,12),["Data",1,2,3,4],{1,2,3},{"a":100 , "b":200}]

In [33]:
for i in k:
    print(i)
    print(type(i))

(10, 11, 12)
<class 'tuple'>
['Data', 1, 2, 3, 4]
<class 'list'>
{1, 2, 3}
<class 'set'>
{'a': 100, 'b': 200}
<class 'dict'>

In [36]:
for i in k:
    if (type(i)) == list:
        print(i)

['Data', 1, 2, 3, 4]

In [37]:
for i in k:
    if type(i) == list:
        for num in i:
            print(num)

Data
1
2
3
4