# exception Handeling

### Try and except

In [6]:
a = 5

In [7]:
type(a)

int

In [8]:
a * 5

25

In [95]:
a + "A"

NameError: name 'a' is not defined

In [10]:
a = int(input("Enter int number"))

Enter int number a

ValueError: invalid literal for int() with base 10: 'a'

In [12]:
try:
    a = int(input("Enter int type data only"))
    print(a + 10)
except: 
    print("Enter only number")

Enter int type data only vaishnavi

Enter only number

In [13]:
5/0

ZeroDivisionError: division by zero

In [23]:
try:
    a = int(input("enter 1st no."))
    b = int(input("enter 2nd no."))
    print(a/b)
except:
    print("Error in input data type of division erroe")

enter 1st no. 4
enter 2nd no. 0

Error in input data type of division erroe

In [25]:
try:
    a = int(input("enter 1st no."))
    b = int(input("enter 2nd no."))
    print(a/b)
except Exception as e:
    print(e)

enter 1st no. lklk

invalid literal for int() with base 10: 'lklk'

In [26]:
try:
    a = int(input("enter 1st no."))
    b = int(input("enter 2nd no."))
    print(a/b)
except ZeroDivisionError as e :
    print("Error: ",e)

enter 1st no. 5
enter 2nd no. 0

Error:  division by zero

In [27]:
try:
    a = int(input("enter 1st no."))
    b = int(input("enter 2nd no."))
    print(a/b)
except ZeroDivisionError as e :
    print("Error: ",e)
except Exception as e :
    print(e)

enter 1st no. hjhj

invalid literal for int() with base 10: 'hjhj'

In [29]:
try:
    x = int(input("Enter number"))
    print(x/2)
except Exception as e:
    print(e)
else:
    print("No exception is occured")

Enter number 10

5.0
No exception is occured

In [31]:
try:
    x = int(input("Enter number"))
    print(x/2)
except Exception as e:
    print(e)
else:
    print("No exception is occured")
finally :
    print("#" * 10)

Enter number k

invalid literal for int() with base 10: 'k'
##########

In [41]:
print(dir[locals()["__builtins__"]])

TypeError: 'builtin_function_or_method' object is not subscriptable

### Assignment on try - catch

"Function 1 -------------------------------------: "

In [97]:
def suquareOfArgument():
    try:
        a = int(input())
        return a**2
    except Exception as e:
        print("Error: ", e)
    finally:
        print("Execution is done!")

In [99]:
suquareOfArgument()

 5

Execution is done!

25

In [177]:
suquareOfArgument()

 jjkj

Error:  invalid literal for int() with base 10: 'jjkj'
Execution is done!

"Function 2 -------------------------------:"

In [178]:
def fetching_list(l):
    try:
        for i in l:
            if (type(i)) == list:
                print(i)
    except Exception as e:
        print("error :",e)
    finally:
        print("Execution is done!")

In [179]:
a = [(1,2),[1,2],3,4,5]
fetching_list(a)

Execution is done!

In [180]:
k = [(10,11,12),["Data",1,2,3,4],{1,2,3},{"a":100 , "b":200}]
fetching_list(k)

Execution is done!

In [181]:
fetching_list(1)

error : 'int' object is not iterable
Execution is done!

"Function 3 --------------------------------"

In [148]:
def get_list_element(list,index):
    try:
        element = list[index]
    except IndexError:
        return "Error: Index out of range."
    finally:
        print("Execution of get_list_element is complete.")
    return element

In [151]:
list = [1, 2, 3, 4, 5]

In [152]:
print(get_list_element(list, 2))

Execution of get_list_element is complete.
3

In [153]:
 print(get_list_element(list, 10))

Execution of get_list_element is complete.
Error: Index out of range.

Function 4 : -----------------------------

In [71]:
def iterate_str(n):
    try:
        for i in n:
            print(i,end=" ")
            
    except Exception as e:
        print("\nError: ",e)
        
    else:
        print("\n"+ n + " : can be iterable")
        
    finally:
        print("\nCode is executed")

In [72]:
print(iterate_str(1))

Error:  'int' object is not iterable

Code is executed
None

In [73]:
print(iterate_str("Data"))

D a t a
Data : can be iterable

Code is executed
None

Function 5 : ---------------------------------------

In [92]:
def Check_age():
    try:
        age = int(input("enter your age"))
        if age < 18:
            print("you are Minor")
        elif 50 >= age >= 18 :
            print("you are Adult")
        else:
            print("You are Senior Citizen")
    except Exception as e:
        print("Error: ",e)
    finally :
        print("\nThis given code is work properly")

In [93]:
Check_age()

enter your age 45

you are Adult

This given code is work properly

In [94]:
Check_age()

enter your age kkk

Error:  invalid literal for int() with base 10: 'kkk'

This given code is work properly